.toast {
  position: absolute;
  right: 40%;
  left: 40%;
  top: 75px;
  opacity: 1;
  min-width: 275px;

  img {
    width: auto;
  }

  .toast-header {
    padding: .5rem .75rem;
  }

  .Delete, .Denied {
    background-color: $color-alert;
    color: $color-light;
  }

  .Update, .Create {
    background-color: $color-success;
    color: $color-light;

    .toast-body {
      color: $color-success;
    }
  }
}
