
<div
	class="bg-dark text-center text-white">

	<!-- Grid container -->
	<div class="container p-4 pb-0">
		<p>
			Site réalisé lors de l'apprentissage de Symfony - <a href="https://www.wildcodeschool.com/fr-FR"> Wild Code School</a> Toulouse 2021.
		</p>
		<!-- Section: Social media -->
		<section
			class="mb-4">
			<!-- Linkedin -->
			<a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/loic-fremond-47502820a"  title="Linkedin" role="button">
				<i class="fab fa-linkedin-in"></i>
			</a>

			<!-- Github -->
			<a class="btn btn-outline-light btn-floating m-1" href="https://github.com/LoicFremond"  title="GitHub" role="button">
				<i class="fab fa-github"></i>
			</a>

			<!-- Portfolio -->
			<a class="btn btn-outline-light btn-floating m-1" href="http://loicfremond-portfolio.eu/" title="Portfolio" role="button">
				<i class="fas fa-blog"></i>
			</a>
		</section>
		<p>
			Fremond Loic
		</p>
	</div>
</div>
<!-- Section: Social media -->

<!-- Grid container --></div><!-- End of .container -->
