{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie | Admin{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5 text-center">Créer une nouvelle catégorie</h1>
        <a class="btn btn-sm btn-outline-light" href="{{ path('category_index') }}">{{ 'Back'|trans }}</a>
        <div class="row">
            <div class="col col-md-4">
                {{ include('admin/category/_form.html.twig') }}
            </div>
        </div>

    </div>
{% endblock %}
