{% extends 'base.html.twig' %}

{% block title %}Modification Utilisateur{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Modification Utilisateur</h1>

    <a class="btn btn-sm btn-outline-light my-4" href="{{ path('user_index') }}">{{ 'Back'|trans }}</a>

    {{ include('/admin/user/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('/admin/user/_delete_form.html.twig') }}
{% endblock %}
